
      <tr>
        <td><%= link_to order_line.id, order_order_line_path(order_line.order_id, order_line.id) %></td>
        <td><%= order_line.product.name %></td>
        <td><%= order_line.quantity %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_order_order_line_path(order_line.order_id, order_line.id), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      order_order_line_path(order_line.order_id, order_line.id),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
